.ccNavGrad {
    background-image: linear-gradient(120deg, #00d41b 0%, #58d4a0 100%);
}

.ccBG {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.header-search-wrapper {
    margin: 10px auto 0 260px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 87%;
    background: rgba(255, 255, 255, 0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
  }